<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>创建用户类型</title>
    <script src='@routes.Assets.at("javascripts/jquery-1.9.0.min.js")'></script>
</head>
<body>

</body>
</html>

    <script>

          var parameters = {userTypeName:"",userExtIds:[]};
          parameters["userTypeName"] = "用户类型1";
          parameters["userExtIds"].push(11);
          parameters["userExtIds"].push(9);

          $.ajax({
                      method: "POST",
                      url: "/user/addUserType",
                      data: JSON.stringify(parameters),
                      dataType: "json",
                      contentType:"application/json"
                  })
                  .done(function( msg ) {
                      alert( "Data Saved: " + msg );
                  });


    </script>